/* Primary color */
:root {
    --primaryColor: #ffcc17ff;
}

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Rubik+Dirt&display=swap");

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.navbar__logo {
    width: 140px;
    color: var(--primaryColor);
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    margin: 10px 20px;
}

.navbar__logo:hover {
    border-bottom: var(--primaryColor) 3px solid;
}

.navbar ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    padding-bottom: 19px;
}

.navbar ul li:hover a {
    border-bottom: var(--primaryColor) 4px solid;
    color: var(--primaryColor);
    transition: ease-in-out 0.2s;
}

