/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  background: #080808;
  color: #fff;
}
.container{
  padding: 10px 10%;
}
.btn{
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid var(--primaryColor);
  padding: 10px 25px;
  border-radius: 6px;
  text-decoration: none;
  color: var(--primaryColor);
}
.btn:hover{
  background: var(--primaryColor);
  border: 1px solid whitesmoke;
  transition: 0.5s;
  color: whitesmoke;
}